
{% extends 'baseBack.html.twig' %}

{% block body %}
<div class="container">
    <h1>Category index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>DisabledAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td>{{ category.id }}</td>
                <td>{{ category.name }}</td>
                <td>{{ category.createdAt ? category.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ category.updatedAt ? category.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ category.disabledAt ? category.disabledAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_category_show', {'id': category.id}) }}"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16"><path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/> <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/></svg>
                    </a>
                    <a href="{{ path('app_category_edit', {'id': category.id}) }}"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen-fill" viewBox="0 0 16 16"><path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001z"/></svg>
                    </a>
                    {% if category.disabledAt is  null %}
                        <a alt="disable the category"href="{{path('app_category_delete',{'id':category.id})}}"><svg xmlns="http://www.w3.org/2000/svg" class="svg-icon" style="width: 1em; height: 1em;vertical-align: middle;fill: currentColor;overflow: hidden;" viewBox="0 0 1024 1024" version="1.1"><path d="M508.765329 548.912701c-45.568848 0-82.642209 37.07336-82.642209 82.643232 0 18.119683 5.760191 35.320437 16.660448 49.740868 0.233314 0.309038 0.475837 0.60989 0.727571 0.903579 20.418029 23.793916 21.900799 40.779775 21.995967 42.336224l0 47.197952c0 23.853267 19.405979 43.258223 43.259246 43.258223 23.854291 0 43.259246-19.405979 43.259246-43.258223l0-48.088228c0-0.540306-0.022513-1.081635-0.069585-1.61887-0.004093-0.041956 0.10847-0.010233 0.112564-0.051165 0.118704-1.083681 0.481977-3.40147 1.586125-6.759961 2.219551-6.750751 7.442506-17.812691 19.729344-32.177863 0.178055-0.207731 0.350994-0.419556 0.51984-0.635473 11.453866-14.646582 17.508769-32.229029 17.508769-50.846038C591.411631 585.987085 554.337247 548.912701 508.765329 548.912701zM544.67212 659.078777c-28.900214 33.943067-30.3134 58.252729-30.039153 65.054645l0 47.602158c0 3.234671-2.631944 5.865591-5.866614 5.865591s-5.865591-2.63092-5.865591-5.865591l0-47.423079c0.002047-3.491521-0.960885-31.193443-30.592762-65.973574-5.753027-7.791453-8.791224-17.040095-8.791224-26.782993 0-24.951275 20.299325-45.2506 45.249577-45.2506 24.953322 0 45.254693 20.299325 45.254693 45.2506C554.018999 641.621173 550.788421 651.128711 544.67212 659.078777zM822.680878 390.411781l-45.819558 0L776.86132 270.363637c0-0.793062-0.050142-1.586125-0.150426-2.37407-8.16496-63.780629-39.282678-122.508171-87.62264-165.366282-48.76361-43.233664-111.545492-67.042929-176.778192-67.042929-71.203692 0-138.146337 27.728528-188.494025 78.076216-50.349735 50.348712-78.07724 117.291356-78.07724 188.496072l0 88.22946-50.883901 0.029676c-35.176151 0-63.792908 28.617781-63.792908 63.792908l0 452.057793c0 35.175127 28.616758 63.791885 63.792908 63.791885l389.759935 0c0.567935 0 1.12973-0.024559 1.684362-0.074701l234.697323 0c0.555655 0.050142 1.11745 0.074701 1.684362 0.074701 35.175127 0 63.791885-28.616758 63.791885-63.791885L886.472763 454.204689C886.472763 419.029562 857.856006 390.411781 822.680878 390.411781zM849.080132 906.262482c0 13.886265-10.778484 25.303292-24.408923 26.324552-0.051165 0-0.103354 0-0.154519 0L578.913992 932.587034c-0.567935 0-1.12973 0.024559-1.684362 0.074701L194.853873 932.661735c-14.557554 0-26.399253-11.842723-26.399253-26.399253L168.45462 454.204689c0-14.557554 11.842723-26.400277 26.399253-26.400277l69.590961-0.040932c0.952698-0.001023 1.88186-0.095167 2.796696-0.233314 1.003863 0.166799 2.028193 0.275269 3.080152 0.275269l352.928075 0c0.336668 0.007163 0.857531 0.014326 1.547239 0.014326 9.410324 0 50.318012-1.431605 85.968977-24.945135 8.620331-5.685489 10.998495-17.281595 5.313006-25.901926-5.686513-8.620331-17.283642-10.997472-25.901926-5.313006-29.55206 19.491936-65.778122 18.771529-66.081021 18.762319-0.204661-0.007163-0.410346-0.010233-0.617054-0.010233L283.131429 390.411781l0-88.26016c0-61.216223 23.838941-118.767987 67.124793-162.054863 43.285852-43.285852 100.837616-67.12377 162.053839-67.12377 56.08332 0 110.053512 20.466124 151.971204 57.629535 41.277102 36.594453 67.946508 86.618776 75.188446 140.975778l0 136.27471c0 1.673106 0.225127 3.339048 0.667196 4.951779l0.344854 1.254573c2.229784 8.117888 9.610892 13.744026 18.028609 13.744026l64.171532 0c14.556531 0 26.399253 11.842723 26.399253 26.400277L849.081155 906.262482z"/></svg></a>
                  
                    {% else %}
                    <a href="{{path('app_category_enable',{'id':category.id})}}"><svg xmlns="http://www.w3.org/2000/svg" class="svg-icon" style="width: 1em;height: 1em;vertical-align: middle;fill: currentColor;overflow: hidden;" viewBox="0 0 1024 1024" version="1.1"><path d="M575.995 566.949993m0 54.852857l0 164.421441q0 54.852857-54.852857 54.852857l0 0q-54.852857 0-54.852858-54.852857l0-164.421441q0-54.852857 54.852858-54.852857l0 0q54.852857 0 54.852857 54.852857Z"/><path d="M910.825985 384.049996H411.436428V219.41143a109.705715 109.705715 0 0 1 109.705715-109.705715 109.705715 109.705715 0 0 1 109.705715 109.705715v18.284286a54.852857 54.852857 0 0 0 109.705715 0v-18.284286C740.553573 98.278036 642.275537 0 521.142143 0S301.730713 98.278036 301.730713 219.41143v164.638566H113.174015a49.139018 49.139018 0 0 0-49.139018 49.139018v541.671968a49.139018 49.139018 0 0 0 49.139018 49.139018h797.65197a49.139018 49.139018 0 0 0 49.139018-49.139018v-541.671968a49.139018 49.139018 0 0 0-49.139018-49.139018z m-60.566697 530.244289H173.740712v-420.538574h676.518576z"/></svg></a>
                      {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_category_new') }}">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
  <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
  <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
</svg>
    </a>
    </div>
{% endblock %}
