{% extends 'baseBack.html.twig' %}

{% block body %}
<div class="container">
<a href="{{ path('app_shop_index') }}"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-backspace-fill" viewBox="0 0 16 16">
  <path d="M15.683 3a2 2 0 0 0-2-2h-7.08a2 2 0 0 0-1.519.698L.241 7.35a1 1 0 0 0 0 1.302l4.843 5.65A2 2 0 0 0 6.603 15h7.08a2 2 0 0 0 2-2V3zM5.829 5.854a.5.5 0 1 1 .707-.708l2.147 2.147 2.146-2.147a.5.5 0 1 1 .707.708L9.39 8l2.146 2.146a.5.5 0 0 1-.707.708L8.683 8.707l-2.147 2.147a.5.5 0 0 1-.707-.708L7.976 8 5.829 5.854z"/>
</svg></a>
    <h1>Shop</h1>

    <table class="table">
        <tbody>
         
            <tr>
                <th>Nom</th>
                <td>{{ shop.nom }}</td>
            </tr>
            <tr>
                <th>Contact</th>
                <td>{{ shop.contact }}</td>
            </tr>
            <tr>
                <th>Localisation</th>
                <td>{{ shop.localisation }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ shop.image }}</td>
            </tr>
            <tr>
                <th>Horaires</th>
                <td>{{ shop.horaires }}</td>
            </tr>
        </tbody>
    </table>

    

    <a href="{{ path('app_shop_edit', {'id': shop.id}) }}"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen-fill" viewBox="0 0 16 16">
  <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001z"/>
</svg></a>

    {{ include('back/shop/_delete_form.html.twig') }}
    </div>
{% endblock %}
