{% extends 'baseFront.html.twig' %}

{% block body %}
<div class="container">

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    
                    <div class="col-lg-7">
                        <div class="p-5">
    <h1>Edit Your Profile</h1>
{{ form_errors(form) }}
    {{ form_start(form) }}
     {{ form_row(form.firstname, {'attr': {'class': 'form-control form-control-user'}}) }}
      {{ form_row(form.lastname, {'attr': {'class': 'form-control form-control-user'}}) }}
       {{ form_row(form.username, {'attr': {'class': 'form-control form-control-user'}}) }}
        {{ form_row(form.phone, {'attr': {'class': 'form-control form-control-user'}}) }}
         {{ form_row(form.address, {'attr': {'class': 'form-control form-control-user'}}) }}
        {{ form_row(form.email, {'attr': {'class': 'form-control form-control-user'}}) }}
        {{ form_row(form.plainPassword,  {'attr': {'class': 'form-control form-control-user'},label:'Password'}) }}
         {{ form_row(form.image,  {'attr': {'class': 'form-control form-control-user'},label:'Image:'}) }}
        {{ form_row(form.agreeTerms) }}

        <button type="submit" class="btn btn-primary btn-user btn-block">Update </button>
       
         {{ form_end(form) }}
    
        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    
{% endblock %}
