<!DOCTYPE html>
<html>
    <head>
        <title>e-Tech Store</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    
       {% block cssProfile %}
        
       {% endblock %}

 {% block stylesheets %}
 <link rel="apple-touch-icon" href="{{asset('assets/front/img/logo-icon.png')}}">
        <link rel="shortcut icon" type="image/x-icon" href="{{asset('assets/front/img/logo-icon.png')}}">
    
       
        <link rel="stylesheet" href="{{asset('assets/front/css/bootstrap.min.css')}}">
        <link rel="stylesheet" href="{{asset('assets/front/css/templatemo.css')}}">
        <link rel="stylesheet" href="{{asset('assets/front/css/custom.css')}}">

       
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;700;900&display=swap"> 

        <link rel="stylesheet" href="{{asset('assets/front/css/fontawesome.min.css')}}">
        {% endblock %}

        {% block javascripts %}
          <script src="{{ asset('assets/front/js/jquery-1.11.0.min.js') }}"></script>
        <script src=  "{{asset('assets/front/js/jquery-migrate-1.2.1.min.js')}}"></script>
        <script src="{{asset('assets/front/js/bootstrap.bundle.min.js')}}"></script>
        <script src="{{asset('assets/front/js/templatemo.js')}}"></script>
        <script src="{{asset('assets/front/js/custom.js')}}"></script>

  <script src="{{ asset('assets/back/vendor/jquery/jquery.min.js') }}"></script>
            <script src="{{ asset('assets/back/vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
            <!-- Core plugin JavaScript-->
          
            <!-- Custom scripts for all pages-->
            

        {% endblock %}
 
    </head>
    <body><!-- Start Top Nav -->
{% block header %}
    <nav
  class="navbar navbar-expand-lg bg-dark navbar-light d-none d-lg-block"
  id="templatemo_nav_top">
  <div class="container text-light">
    <div class="w-100 d-flex justify-content-between">
      <div>
        <i class="fa fa-envelope mx-2"></i>
        <a
          class="navbar-sm-brand text-light text-decoration-none"
          href="mailto:info@company.com"
          >info@company.com</a
        >
        <i class="fa fa-phone mx-2"></i>
        <a
          class="navbar-sm-brand text-light text-decoration-none"
          href="tel:010-020-0340"
          >010-020-0340</a
        >
      </div>
      <div>
        <a
          class="text-light"
          href="https://fb.com/templatemo"
          target="_blank"
          rel="sponsored"
          ><i class="fab fa-facebook-f fa-sm fa-fw me-2"></i
        ></a>
        <a class="text-light" href="https://www.instagram.com/" target="_blank"
          ><i class="fab fa-instagram fa-sm fa-fw me-2"></i
        ></a>
        <a class="text-light" href="https://twitter.com/" target="_blank"
          ><i class="fab fa-twitter fa-sm fa-fw me-2"></i
        ></a>
        <a class="text-light" href="https://www.linkedin.com/" target="_blank"
          ><i class="fab fa-linkedin fa-sm fa-fw"></i
        ></a>
      </div>
    </div>
  </div>
</nav>
<!-- Close Top Nav -->

<!-- Header -->
<nav class="navbar navbar-expand-lg navbar-light shadow">
  <div class="container d-flex justify-content-between align-items-center">
    <a
      class="navbar-brand text-success logo h1 align-self-center"
      href="{{path('app_front')}}"
    >
      <img
        style="width: 100px"
        src="{{ asset('assets/front/img/logo-icon.png') }}"
        alt=""
      />
    </a>

    <button
      class="navbar-toggler border-0"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#templatemo_main_nav"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div
      class="align-self-center collapse navbar-collapse flex-fill d-lg-flex justify-content-lg-between"
      id="templatemo_main_nav"
    >
      <div class="flex-fill">
        <ul class="nav navbar-nav d-flex justify-content-between mx-lg-auto">
          <li class="nav-item">
            <a class="nav-link" href="{{ path('app_front') }}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="about.html">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="shop.html">Shop</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="contact.html">Contact</a>
          </li>
        </ul>
      </div>
      <div class="navbar align-self-center d-flex">
  <div class="d-lg-none flex-sm-fill mt-3 mb-4 col-7 col-sm-auto pr-3">
    <div class="input-group">
      <input
        type="text"
        class="form-control"
        id="inputMobileSearch"
        placeholder="Search ..."
      />
      <div class="input-group-text">
        <i class="fa fa-fw fa-search"></i>
      </div>
    </div>
  </div>
  <a
    class="nav-icon d-none d-lg-inline"
    href="#"
    data-bs-toggle="modal"
    data-bs-target="#templatemo_search"
  >
    <i class="fa fa-fw fa-search text-dark mr-2"></i>
  </a>
   {% if app.user %}

  <a class="nav-icon position-relative text-decoration-none" href="#">
    <i class="fa fa-fw fa-cart-arrow-down text-dark mr-1"></i>
    <span
      class="position-absolute top-0 left-100 translate-middle badge rounded-pill bg-light text-dark"
      >7</span
    >
  </a>
  <div class="ml-auto"> <!-- Added this div with ml-auto class -->
    <a
      class="nav-link dropdown-toggle"
      href="#"
      id="userDropdown"
      role="button"
      data-toggle="dropdown"
      aria-haspopup="true"
      aria-expanded="false"
    >
      <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{app.user.firstname}} {{app.user.lastname}}</span>
      <img
        style="width: 50px"
        class="img-profile rounded-circle"
       src="{{ asset('uploads/user_images/'~ app.user.image) }}"
      />
    </a>
    <!-- Dropdown - User Information -->
    <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
      <a class="dropdown-item" href="{{path('app_profile')}}">
        <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
        Profile
      </a>
      {% if app.user.roles[0]=="ROLE_ADMIN" or app.user.roles[0]=="ROLE_SUPER_ADMIN"  %}
        <a class="dropdown-item" href={{path('app_back')}}>
       <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bag-check-fill" viewBox="0 0 16 16">
       <path fill-rule="evenodd" d="M10.5 3.5a2.5 2.5 0 0 0-5 0V4h5v-.5zm1 0V4H15v10a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V4h3.5v-.5a3.5 3.5 0 1 1 7 0zm-.646 5.354a.5.5 0 0 0-.708-.708L7.5 10.793 6.354 9.646a.5.5 0 1 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0l3-3z"/>
        </svg>

        Administration
      </a>
      {% else %}
 <a class="dropdown-item" href="#">
       <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bag-check-fill" viewBox="0 0 16 16">
       <path fill-rule="evenodd" d="M10.5 3.5a2.5 2.5 0 0 0-5 0V4h5v-.5zm1 0V4H15v10a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V4h3.5v-.5a3.5 3.5 0 1 1 7 0zm-.646 5.354a.5.5 0 0 0-.708-.708L7.5 10.793 6.354 9.646a.5.5 0 1 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0l3-3z"/>
        </svg>

        My Orders
      </a>
      {% endif %}

     
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="{{path('app_logout')}}">
        <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
        Logout
      </a>
    </div>
  </div>
</div>

          
        {% else %}
        <a class="nav-icon position-relative text-decoration-none" href="{{path('app_login')}}">
          <img
            style="width: 35px"
            src="{{ asset('assets/front/img/login.png') }}"
            title="Login"
          />
        </a>

        {% endif %}
      </div>
    </div>
  </div>
</nav>
{% endblock %}
<!-- Close Header -->
        {% block body %}{% endblock %}
        {% block footer %}
            <!-- Start Footer -->
<footer class="bg-dark" id="tempaltemo_footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4 pt-5">
        <h2 class="h2 text-success border-bottom pb-3 border-light logo">
          e-Tech Shop
        </h2>
        <ul class="list-unstyled text-light footer-link-list">
          <li>
            <i class="fas fa-map-marker-alt fa-fw"></i>
            123 Consectetur at ligula 10660
          </li>
          <li>
            <i class="fa fa-phone fa-fw"></i>
            <a class="text-decoration-none" href="tel:010-020-0340"
              >010-020-0340</a
            >
          </li>
          <li>
            <i class="fa fa-envelope fa-fw"></i>
            <a class="text-decoration-none" href="mailto:info@company.com"
              >info@company.com</a
            >
          </li>
        </ul>
      </div>

      <div class="col-md-4 pt-5">
        <h2 class="h2 text-light border-bottom pb-3 border-light">Products</h2>
        <ul class="list-unstyled text-light footer-link-list">
          <li><a class="text-decoration-none" href="#">Luxury</a></li>
          <li><a class="text-decoration-none" href="#">Sport Wear</a></li>
          <li><a class="text-decoration-none" href="#">Men's Shoes</a></li>
          <li><a class="text-decoration-none" href="#">Women's Shoes</a></li>
          <li><a class="text-decoration-none" href="#">Popular Dress</a></li>
          <li><a class="text-decoration-none" href="#">Gym Accessories</a></li>
          <li><a class="text-decoration-none" href="#">Sport Shoes</a></li>
        </ul>
      </div>

      <div class="col-md-4 pt-5">
        <h2 class="h2 text-light border-bottom pb-3 border-light">
          Further Info
        </h2>
        <ul class="list-unstyled text-light footer-link-list">
          <li><a class="text-decoration-none" href="#">Home</a></li>
          <li><a class="text-decoration-none" href="#">About Us</a></li>
          <li><a class="text-decoration-none" href="#">Shop Locations</a></li>
          <li><a class="text-decoration-none" href="#">FAQs</a></li>
          <li><a class="text-decoration-none" href="#">Contact</a></li>
        </ul>
      </div>
    </div>

    <div class="row text-light mb-4">
      <div class="col-12 mb-3">
        <div class="w-100 my-3 border-top border-light"></div>
      </div>
      <div class="col-auto me-auto">
        <ul class="list-inline text-left footer-icons">
          <li
            class="list-inline-item border border-light rounded-circle text-center"
          >
            <a
              class="text-light text-decoration-none"
              target="_blank"
              href="http://facebook.com/"
              ><i class="fab fa-facebook-f fa-lg fa-fw"></i
            ></a>
          </li>
          <li
            class="list-inline-item border border-light rounded-circle text-center"
          >
            <a
              class="text-light text-decoration-none"
              target="_blank"
              href="https://www.instagram.com/"
              ><i class="fab fa-instagram fa-lg fa-fw"></i
            ></a>
          </li>
          <li
            class="list-inline-item border border-light rounded-circle text-center"
          >
            <a
              class="text-light text-decoration-none"
              target="_blank"
              href="https://twitter.com/"
              ><i class="fab fa-twitter fa-lg fa-fw"></i
            ></a>
          </li>
          <li
            class="list-inline-item border border-light rounded-circle text-center"
          >
            <a
              class="text-light text-decoration-none"
              target="_blank"
              href="https://www.linkedin.com/"
              ><i class="fab fa-linkedin fa-lg fa-fw"></i
            ></a>
          </li>
        </ul>
      </div>
      <div class="col-auto">
        <label class="sr-only" for="subscribeEmail">Email address</label>
        <div class="input-group mb-2">
          <input
            type="text"
            class="form-control bg-dark border-light"
            id="subscribeEmail"
            placeholder="Email address"
          />
          <div class="input-group-text btn-success text-light">Subscribe</div>
        </div>
      </div>
    </div>
  </div>

  <div class="w-100 bg-black py-3">
    <div class="container">
      <div class="row pt-2">
        <div class="col-12">
          <p class="text-left text-light">
            Copyright &copy; 2021 Company Name | Designed by
            <a rel="sponsored" href="https://templatemo.com" target="_blank"
              >TemplateMo</a
            >
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
        {% endblock %}
    </body>
</html>
