<!DOCTYPE html>
<html>
    <head>
        <title>e-Tech Store</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    
       {% block cssProfile %}
        
       {% endblock %}

 {% block stylesheets %}
 <link rel="apple-touch-icon" href="{{asset('assets/front/img/logo-icon.png')}}">
        <link rel="shortcut icon" type="image/x-icon" href="{{asset('assets/front/img/logo-icon.png')}}">
    
       
        <link rel="stylesheet" href="{{asset('assets/front/css/bootstrap.min.css')}}">
        <link rel="stylesheet" href="{{asset('assets/front/css/templatemo.css')}}">
        <link rel="stylesheet" href="{{asset('assets/front/css/custom.css')}}">

       
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;700;900&display=swap"> 

        <link rel="stylesheet" href="{{asset('assets/front/css/fontawesome.min.css')}}">


        <!-- Load fonts style after rendering the layout styles -->
    

    <!-- Slick -->
    <link rel="stylesheet" type="text/css" href="{{asset('assets/front/css/slick.min.css')}}">
    <link rel="stylesheet" type="text/css" href="{{asset('assets/front/css/slick-theme.css')}}">
        {% endblock %}

        {% block javascripts %}
          <script src="{{ asset('assets/front/js/jquery-1.11.0.min.js') }}"></script>
        <script src=  "{{asset('assets/front/js/jquery-migrate-1.2.1.min.js')}}"></script>
        <script src="{{asset('assets/front/js/bootstrap.bundle.min.js')}}"></script>
        <script src="{{asset('assets/front/js/templatemo.js')}}"></script>
        <script src="{{asset('assets/front/js/custom.js')}}"></script>
        <script src="{{asset('assets/front/js/slick.min.js')}}"></script>

          <script src="{{ asset('assets/back/vendor/jquery/jquery.min.js') }}"></script>
            <script src="{{ asset('assets/back/vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
            <!-- Core plugin JavaScript-->
          
            <!-- Custom scripts for all pages-->
            

        {% endblock %}
 
    </head>
    <body><!-- Start Top Nav -->
{% block header %}
 {% if app.user and app.user.isVerified == false %}
   
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                   <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                </button>
                    <strong>Your account is not verified !
                        <a href="{{path('app_renvoiMailVerif')}}">Verification Email</a>
                    </strong>

                    
            </div>
{% endif %}
{% include '_flashes.html.twig' %}

    <nav
  class="navbar navbar-expand-lg bg-dark navbar-light d-none d-lg-block"
  id="templatemo_nav_top">
  <div class="container text-light">
    <div class="w-100 d-flex justify-content-between">
      <div>
        <i class="fa fa-envelope mx-2"></i>
        <a
          class="navbar-sm-brand text-light text-decoration-none"
          href="mailto:info@company.com"
          >info@company.com</a
        >
        <i class="fa fa-phone mx-2"></i>
        <a
          class="navbar-sm-brand text-light text-decoration-none"
          href="tel:010-020-0340"
          >010-020-0340</a
        >
      </div>
      <div>
        <a
          class="text-light"
          href="https://fb.com/templatemo"
          target="_blank"
          rel="sponsored"
          ><i class="fab fa-facebook-f fa-sm fa-fw me-2"></i
        ></a>
        <a class="text-light" href="https://www.instagram.com/" target="_blank"
          ><i class="fab fa-instagram fa-sm fa-fw me-2"></i
        ></a>
        <a class="text-light" href="https://twitter.com/" target="_blank"
          ><i class="fab fa-twitter fa-sm fa-fw me-2"></i
        ></a>
        <a class="text-light" href="https://www.linkedin.com/" target="_blank"
          ><i class="fab fa-linkedin fa-sm fa-fw"></i
        ></a>
      </div>
    </div>
  </div>
</nav>
<!-- Close Top Nav -->

<!-- Header -->
<nav class="navbar navbar-expand-lg navbar-light shadow">
  <div class="container d-flex justify-content-between align-items-center">
    <a
      class="navbar-brand text-success logo h1 align-self-center"
      href="{{path('app_front')}}"
    >
      <img
        style="width: 100px"
        src="{{ asset('assets/front/img/logo-icon.png') }}"
        alt=""
      />
    </a>

    <button
      class="navbar-toggler border-0"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#templatemo_main_nav"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div
      class="align-self-center collapse navbar-collapse flex-fill d-lg-flex justify-content-lg-between"
      id="templatemo_main_nav"
    >
      <div class="flex-fill">
        <ul class="nav navbar-nav d-flex justify-content-between mx-lg-auto">
          <li class="nav-item">
            <a class="nav-link" href="{{ path('app_front') }}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="about.html">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{path('app_shop')}}">Shop</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="contact.html">Contact</a>
          </li>
        </ul>
      </div>
      <div class="navbar align-self-center d-flex">
  <div class="d-lg-none flex-sm-fill mt-3 mb-4 col-7 col-sm-auto pr-3">
    <div class="input-group">
      <input
        type="text"
        class="form-control"
        id="inputMobileSearch"
        placeholder="Search ..."
      />
      <div class="input-group-text">
        <i class="fa fa-fw fa-search"></i>
      </div>
    </div>
  </div>
  <a
    class="nav-icon d-none d-lg-inline"
    href="#"
    data-bs-toggle="modal"
    data-bs-target="#templatemo_search"
  >
    <i class="fa fa-fw fa-search text-dark mr-2"></i>
  </a>
   {% if app.user %}

  <a class="nav-icon position-relative text-decoration-none" href="#">
    <i class="fa fa-fw fa-cart-arrow-down text-dark mr-1"></i>
    <span
      class="position-absolute top-0 left-100 translate-middle badge rounded-pill bg-light text-dark"
      >7</span
    >
  </a>
  <div class="ml-auto"> <!-- Added this div with ml-auto class -->
    <a
      class="nav-link dropdown-toggle"
      href="#"
      id="userDropdown"
      role="button"
      data-toggle="dropdown"
      aria-haspopup="true"
      aria-expanded="false"
    >
      <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{app.user.firstname}} {{app.user.lastname}}</span>
      <img
        style="width: 50px"
        class="img-profile rounded-circle"
       src="{{ asset('uploads/user_images/'~ app.user.image) }}"
      />
    </a>
    <!-- Dropdown - User Information -->
    <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
      <a class="dropdown-item" href="{{path('app_profile')}}">
        <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
        Profile
      </a>
      <a class="dropdown-item" href="{{path('app_user_edit_password',{'id':app.user.id})}}">
       <svg style="width: 25px" xmlns="http://www.w3.org/2000/svg" shape-rendering="geometricPrecision" text-rendering="geometricPrecision" image-rendering="optimizeQuality" fill-rule="evenodd" clip-rule="evenodd" viewBox="0 0 512 393.71"><path d="M219.57 237.25h107.37c6.56-17.15 10.16-35.85 10.16-55.45 0-20.85-4.08-40.69-11.46-58.75l-.27-.62c-7.86-18.96-19.42-36.08-33.76-50.43v-.05a155.684 155.684 0 0 0-50.42-33.73c-18.21-7.54-38.28-11.71-59.39-11.71-20.87 0-40.71 4.07-58.77 11.45l-.62.27A155.348 155.348 0 0 0 72 71.95l-.05.05a155.348 155.348 0 0 0-33.72 50.41c-7.55 18.22-11.72 38.28-11.72 59.39 0 20.87 4.07 40.72 11.45 58.78l.27.61a155.233 155.233 0 0 0 19.04 33.46c21.25-11.3 57.03-10.27 77.51-24.55 1.32-1.99 2.75-4.89 4.13-8.03 2.08-4.75 3.96-9.92 5.17-13.47-5.06-5.96-9.39-12.67-13.55-19.31-6.56-10.44-21.15-30.06-21.5-41.74-.08-2.64.37-5.03 1.35-7.14 1.01-2.22 2.59-4.05 4.72-5.48.99-.67 2.11-1.23 3.32-1.68-.9-11.84-1.21-26.73-.65-39.22.29-2.95.88-5.92 1.69-8.88 3.52-12.51 12.28-22.6 23.16-29.51 5.99-3.82 12.56-6.69 19.42-8.63 4.36-1.23-3.71-15.15.79-15.63 21.78-2.25 57 17.66 72.21 34.1 7.61 8.23 12.4 19.17 13.44 33.61l-.85 35.59c3.8 1.15 6.24 3.57 7.22 7.48 3.29 12.96-14.04 35.72-19.61 44.91-5.74 9.44-11.59 18.95-19.17 26.42.67.99 1.38 1.97 2.05 2.98l.53.79.92-.01zm46.39 55.72c0-3.94 3.19-7.12 7.12-7.12s7.13 3.18 7.13 7.12v9.21l7.63-5.11a7.1 7.1 0 0 1 9.85 1.95c2.19 3.25 1.31 7.66-1.95 9.85l-9.85 6.59 9.86 6.55c3.27 2.17 4.17 6.58 2.01 9.85-2.17 3.27-6.59 4.17-9.86 2.01l-7.69-5.13v9.24c0 3.94-3.2 7.13-7.13 7.13-3.93 0-7.12-3.19-7.12-7.13v-9.2l-7.64 5.11a7.12 7.12 0 0 1-9.85-1.95 7.1 7.1 0 0 1 1.95-9.85l9.86-6.59-9.87-6.56c-3.27-2.16-4.16-6.57-2-9.85a7.117 7.117 0 0 1 9.85-2l7.7 5.12v-9.24zm152.07 0a7.11 7.11 0 0 1 7.12-7.12c3.93 0 7.12 3.18 7.12 7.12v9.21l7.64-5.11a7.101 7.101 0 0 1 7.9 11.8l-9.86 6.59 9.87 6.55a7.117 7.117 0 0 1 2 9.85c-2.16 3.27-6.58 4.17-9.85 2.01l-7.7-5.13v9.24c0 3.94-3.19 7.13-7.12 7.13-3.94 0-7.12-3.19-7.12-7.13v-9.2l-7.64 5.11c-3.26 2.17-7.67 1.3-9.85-1.95-2.18-3.26-1.31-7.67 1.94-9.85l9.86-6.59-9.86-6.56c-3.27-2.16-4.17-6.57-2-9.85 2.16-3.27 6.57-4.16 9.85-2l7.7 5.12v-9.24zm-76.03 0c0-3.94 3.19-7.12 7.12-7.12s7.13 3.18 7.13 7.12v9.21l7.63-5.11a7.1 7.1 0 0 1 9.85 1.95c2.18 3.25 1.31 7.66-1.94 9.85l-9.86 6.59 9.86 6.55c3.27 2.17 4.17 6.58 2 9.85-2.16 3.27-6.58 4.17-9.85 2.01l-7.69-5.13v9.24c0 3.94-3.2 7.13-7.13 7.13-3.93 0-7.12-3.19-7.12-7.13v-9.2l-7.64 5.11c-3.26 2.17-7.67 1.3-9.85-1.95a7.1 7.1 0 0 1 1.95-9.85l9.85-6.59-9.86-6.56c-3.27-2.16-4.17-6.57-2-9.85a7.117 7.117 0 0 1 9.85-2l7.7 5.12v-9.24zm12.95-55.72h123.71c18.33 0 33.34 15.01 33.34 33.33v89.79c0 18.17-15.17 33.34-33.34 33.34H219.57c-9.14 0-17.5-3.76-23.54-9.81a33.577 33.577 0 0 1-9.64-20.35 181.27 181.27 0 0 1-74.07-13.75l-.04-.02c-22.2-9.18-42.2-22.68-58.96-39.44l-.05-.05C36.5 293.52 23 273.52 13.8 251.33l-.27-.7A181.426 181.426 0 0 1 0 181.8c0-24.54 4.91-48.01 13.8-69.48l.02-.04C23 90.08 36.5 70.08 53.27 53.32l.05-.05C70.09 36.5 90.08 23 112.27 13.8l.71-.27A181.337 181.337 0 0 1 181.8 0c24.54 0 48.02 4.91 69.48 13.8l.04.02c22.22 9.19 42.23 22.7 58.99 39.47a181.546 181.546 0 0 1 39.49 59l.27.71a181.127 181.127 0 0 1 13.54 68.8c0 19.29-3.04 37.93-8.66 55.45zm-135.38 19.87h259.09c7.41 0 13.46 6.16 13.46 13.46v89.79c0 7.3-6.15 13.46-13.46 13.46H219.57c-7.3 0-13.46-6.06-13.46-13.46v-89.79c0-7.4 6.06-13.46 13.46-13.46z"/>
        <path xmlns="http://www.w3.org/2000/svg" d="M219.57 237.25h107.37c6.56-17.15 10.16-35.85 10.16-55.45 0-20.85-4.08-40.69-11.46-58.75l-.27-.62c-7.86-18.96-19.42-36.08-33.76-50.43v-.05a155.684 155.684 0 0 0-50.42-33.73c-18.21-7.54-38.28-11.71-59.39-11.71-20.87 0-40.71 4.07-58.77 11.45l-.62.27A155.348 155.348 0 0 0 72 71.95l-.05.05a155.348 155.348 0 0 0-33.72 50.41c-7.55 18.22-11.72 38.28-11.72 59.39 0 20.87 4.07 40.72 11.45 58.78l.27.61a155.233 155.233 0 0 0 19.04 33.46c21.25-11.3 57.03-10.27 77.51-24.55 1.32-1.99 2.75-4.89 4.13-8.03 2.08-4.75 3.96-9.92 5.17-13.47-5.06-5.96-9.39-12.67-13.55-19.31-6.56-10.44-21.15-30.06-21.5-41.74-.08-2.64.37-5.03 1.35-7.14 1.01-2.22 2.59-4.05 4.72-5.48.99-.67 2.11-1.23 3.32-1.68-.9-11.84-1.21-26.73-.65-39.22.29-2.95.88-5.92 1.69-8.88 3.52-12.51 12.28-22.6 23.16-29.51 5.99-3.82 12.56-6.69 19.42-8.63 4.36-1.23-3.71-15.15.79-15.63 21.78-2.25 57 17.66 72.21 34.1 7.61 8.23 12.4 19.17 13.44 33.61l-.85 35.59c3.8 1.15 6.24 3.57 7.22 7.48 3.29 12.96-14.04 35.72-19.61 44.91-5.74 9.44-11.59 18.95-19.17 26.42.67.99 1.38 1.97 2.05 2.98l.53.79.92-.01zm46.39 55.72c0-3.94 3.19-7.12 7.12-7.12s7.13 3.18 7.13 7.12v9.21l7.63-5.11a7.1 7.1 0 0 1 9.85 1.95c2.19 3.25 1.31 7.66-1.95 9.85l-9.85 6.59 9.86 6.55c3.27 2.17 4.17 6.58 2.01 9.85-2.17 3.27-6.59 4.17-9.86 2.01l-7.69-5.13v9.24c0 3.94-3.2 7.13-7.13 7.13-3.93 0-7.12-3.19-7.12-7.13v-9.2l-7.64 5.11a7.12 7.12 0 0 1-9.85-1.95 7.1 7.1 0 0 1 1.95-9.85l9.86-6.59-9.87-6.56c-3.27-2.16-4.16-6.57-2-9.85a7.117 7.117 0 0 1 9.85-2l7.7 5.12v-9.24zm152.07 0a7.11 7.11 0 0 1 7.12-7.12c3.93 0 7.12 3.18 7.12 7.12v9.21l7.64-5.11a7.101 7.101 0 0 1 7.9 11.8l-9.86 6.59 9.87 6.55a7.117 7.117 0 0 1 2 9.85c-2.16 3.27-6.58 4.17-9.85 2.01l-7.7-5.13v9.24c0 3.94-3.19 7.13-7.12 7.13-3.94 0-7.12-3.19-7.12-7.13v-9.2l-7.64 5.11c-3.26 2.17-7.67 1.3-9.85-1.95-2.18-3.26-1.31-7.67 1.94-9.85l9.86-6.59-9.86-6.56c-3.27-2.16-4.17-6.57-2-9.85 2.16-3.27 6.57-4.16 9.85-2l7.7 5.12v-9.24zm-76.03 0c0-3.94 3.19-7.12 7.12-7.12s7.13 3.18 7.13 7.12v9.21l7.63-5.11a7.1 7.1 0 0 1 9.85 1.95c2.18 3.25 1.31 7.66-1.94 9.85l-9.86 6.59 9.86 6.55c3.27 2.17 4.17 6.58 2 9.85-2.16 3.27-6.58 4.17-9.85 2.01l-7.69-5.13v9.24c0 3.94-3.2 7.13-7.13 7.13-3.93 0-7.12-3.19-7.12-7.13v-9.2l-7.64 5.11c-3.26 2.17-7.67 1.3-9.85-1.95a7.1 7.1 0 0 1 1.95-9.85l9.85-6.59-9.86-6.56c-3.27-2.16-4.17-6.57-2-9.85a7.117 7.117 0 0 1 9.85-2l7.7 5.12v-9.24zm12.95-55.72h123.71c18.33 0 33.34 15.01 33.34 33.33v89.79c0 18.17-15.17 33.34-33.34 33.34H219.57c-9.14 0-17.5-3.76-23.54-9.81a33.577 33.577 0 0 1-9.64-20.35 181.27 181.27 0 0 1-74.07-13.75l-.04-.02c-22.2-9.18-42.2-22.68-58.96-39.44l-.05-.05C36.5 293.52 23 273.52 13.8 251.33l-.27-.7A181.426 181.426 0 0 1 0 181.8c0-24.54 4.91-48.01 13.8-69.48l.02-.04C23 90.08 36.5 70.08 53.27 53.32l.05-.05C70.09 36.5 90.08 23 112.27 13.8l.71-.27A181.337 181.337 0 0 1 181.8 0c24.54 0 48.02 4.91 69.48 13.8l.04.02c22.22 9.19 42.23 22.7 58.99 39.47a181.546 181.546 0 0 1 39.49 59l.27.71a181.127 181.127 0 0 1 13.54 68.8c0 19.29-3.04 37.93-8.66 55.45zm-135.38 19.87h259.09c7.41 0 13.46 6.16 13.46 13.46v89.79c0 7.3-6.15 13.46-13.46 13.46H219.57c-7.3 0-13.46-6.06-13.46-13.46v-89.79c0-7.4 6.06-13.46 13.46-13.46z"/>
        </svg>
        Change Password
      </a>
      {% if app.user.roles[0]=="ROLE_ADMIN" or app.user.roles[0]=="ROLE_SUPER_ADMIN"  %}
        <a class="dropdown-item" href={{path('app_back')}}>
       <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bag-check-fill" viewBox="0 0 16 16">
       <path fill-rule="evenodd" d="M10.5 3.5a2.5 2.5 0 0 0-5 0V4h5v-.5zm1 0V4H15v10a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V4h3.5v-.5a3.5 3.5 0 1 1 7 0zm-.646 5.354a.5.5 0 0 0-.708-.708L7.5 10.793 6.354 9.646a.5.5 0 1 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0l3-3z"/>
        </svg>

        Administration
      </a>
      {% else %}
 <a class="dropdown-item" href="#">
       <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bag-check-fill" viewBox="0 0 16 16">
       <path fill-rule="evenodd" d="M10.5 3.5a2.5 2.5 0 0 0-5 0V4h5v-.5zm1 0V4H15v10a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V4h3.5v-.5a3.5 3.5 0 1 1 7 0zm-.646 5.354a.5.5 0 0 0-.708-.708L7.5 10.793 6.354 9.646a.5.5 0 1 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0l3-3z"/>
        </svg>

        My Orders
      </a>
      {% endif %}

     
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="{{path('app_logout')}}">
        <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
        Logout
      </a>
    </div>
  </div>
</div>

          
        {% else %}
        <a class="nav-icon position-relative text-decoration-none" href="{{path('app_login')}}">
          <img
            style="width: 35px"
            src="{{ asset('assets/front/img/login.png') }}"
            title="Login"
          />
        </a>

        {% endif %}
      </div>
    </div>
  </div>
</nav>
{% endblock %}
<!-- Close Header -->
        {% block body %}{% endblock %}
        {% block footer %}
            <!-- Start Footer -->
<footer class="bg-dark" id="tempaltemo_footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4 pt-5">
        <h2 class="h2 text-success border-bottom pb-3 border-light logo">
          e-Tech Shop
        </h2>
        <ul class="list-unstyled text-light footer-link-list">
          <li>
            <i class="fas fa-map-marker-alt fa-fw"></i>
            123 Consectetur at ligula 10660
          </li>
          <li>
            <i class="fa fa-phone fa-fw"></i>
            <a class="text-decoration-none" href="tel:010-020-0340"
              >010-020-0340</a
            >
          </li>
          <li>
            <i class="fa fa-envelope fa-fw"></i>
            <a class="text-decoration-none" href="mailto:info@company.com"
              >info@company.com</a
            >
          </li>
        </ul>
      </div>

      <div class="col-md-4 pt-5">
        <h2 class="h2 text-light border-bottom pb-3 border-light">Products</h2>
        <ul class="list-unstyled text-light footer-link-list">
          <li><a class="text-decoration-none" href="#">Luxury</a></li>
          <li><a class="text-decoration-none" href="#">Sport Wear</a></li>
          <li><a class="text-decoration-none" href="#">Men's Shoes</a></li>
          <li><a class="text-decoration-none" href="#">Women's Shoes</a></li>
          <li><a class="text-decoration-none" href="#">Popular Dress</a></li>
          <li><a class="text-decoration-none" href="#">Gym Accessories</a></li>
          <li><a class="text-decoration-none" href="#">Sport Shoes</a></li>
        </ul>
      </div>

      <div class="col-md-4 pt-5">
        <h2 class="h2 text-light border-bottom pb-3 border-light">
          Further Info
        </h2>
        <ul class="list-unstyled text-light footer-link-list">
          <li><a class="text-decoration-none" href="#">Home</a></li>
          <li><a class="text-decoration-none" href="#">About Us</a></li>
          <li><a class="text-decoration-none" href="#">Shop Locations</a></li>
          <li><a class="text-decoration-none" href="#">FAQs</a></li>
          <li><a class="text-decoration-none" href="#">Contact</a></li>
        </ul>
      </div>
    </div>

    <div class="row text-light mb-4">
      <div class="col-12 mb-3">
        <div class="w-100 my-3 border-top border-light"></div>
      </div>
      <div class="col-auto me-auto">
        <ul class="list-inline text-left footer-icons">
          <li
            class="list-inline-item border border-light rounded-circle text-center"
          >
            <a
              class="text-light text-decoration-none"
              target="_blank"
              href="http://facebook.com/"
              ><i class="fab fa-facebook-f fa-lg fa-fw"></i
            ></a>
          </li>
          <li
            class="list-inline-item border border-light rounded-circle text-center"
          >
            <a
              class="text-light text-decoration-none"
              target="_blank"
              href="https://www.instagram.com/"
              ><i class="fab fa-instagram fa-lg fa-fw"></i
            ></a>
          </li>
          <li
            class="list-inline-item border border-light rounded-circle text-center"
          >
            <a
              class="text-light text-decoration-none"
              target="_blank"
              href="https://twitter.com/"
              ><i class="fab fa-twitter fa-lg fa-fw"></i
            ></a>
          </li>
          <li
            class="list-inline-item border border-light rounded-circle text-center"
          >
            <a
              class="text-light text-decoration-none"
              target="_blank"
              href="https://www.linkedin.com/"
              ><i class="fab fa-linkedin fa-lg fa-fw"></i
            ></a>
          </li>
        </ul>
      </div>
      <div class="col-auto">
        <label class="sr-only" for="subscribeEmail">Email address</label>
        <div class="input-group mb-2">
          <input
            type="text"
            class="form-control bg-dark border-light"
            id="subscribeEmail"
            placeholder="Email address"
          />
          <div class="input-group-text btn-success text-light">Subscribe</div>
        </div>
      </div>
    </div>
  </div>

  <div class="w-100 bg-black py-3">
    <div class="container">
      <div class="row pt-2">
        <div class="col-12">
          <p class="text-left text-light">
            Copyright &copy; 2021 Company Name | Designed by
            <a rel="sponsored" href="https://templatemo.com" target="_blank"
              >TemplateMo</a
            >
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
        {% endblock %}
    </body>
</html>
